html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 3em;
    margin: 0.5em 0;
}

p {
    font-size: 1.25em;
    padding: 0 1em 0 0;
}

li {
    font-size: 1.25em;
}

i {
    font-size: 3em;
    margin: 1rem;
}

main {
    position: relative;
    top: 10vh;
    width: 100%;
    padding-bottom: 10vh;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #B3FFF7;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.hero {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#logo {
    height: 4.5em;
    border-radius: 2.75em;
    margin: 0 1em;
}

#title {
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #000;
    background-color: #B3FFF7;
    mix-blend-mode: lighten;
}

#title_bg {
    background: url(https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif) center;
    background-size: cover;
}

#hero_container {
    position: relative;
}

#hero_tagline {
    position: absolute;
    margin: 0;
    bottom: 1rem;
    left: 1rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 2em;
}

#content_container {
    margin: 0 auto;
    max-width: 1200px;
}

#me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#me-inner {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin: 1em;
    justify-content: space-around;
}

#me-image {
    max-height: 500px;
    width: calc(100% - 2em);
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
    margin: 1em;
}

#work-education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.card {
    box-shadow: 1px 1px 3px black;
    margin: 1em;
    border-radius: 1em;
    padding: 0 1em;
}

#work {
    background-color: #97E8AF;
}

#education {
    background-color: #97C3E8;
}

#nordev img {
    max-width: calc(100% - 2em);
    margin: 1em;
    border-radius: 1em;
    box-shadow: 1px 1px 3px black;
}

footer {
    position: absolute;
    z-index: 10;
    bottom: -10vh;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 1rem;
}

#hobbies-image {
    max-height: 500px;
    width: calc(100% - 2em);
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
    margin: 1em;
    height: calc(100% - 2em);
}
