html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #B3FFF7;
}

body {
    margin: 0;
}

main {
    position: absolute;
    top: 10vh;
    width: 100%;
}

.hero {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

#logo {
    height: 4.5em;
    border-radius: 2.75vh;
    margin: 0 1em;
}

#title {
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #000;
    background-color: #B3FFF7;
    mix-blend-mode: lighten;
}

#title_bg {
    background: url(https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif) center;
    background-size: cover;
}

#hero_container {
    position: relative;
}

#hero_tagline {
    position: absolute;
    margin: 0;
    bottom: 1rem;
    left: 1rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 2em;
}

#content_container {
    margin: 0 auto;
    max-width: 1200px;
}