html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: absolute;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100vw;
}

#logo {
    width: 70px;
    border-radius: 35px;
    margin: 0 1em;
}

#title {
    margin: 0 1em;
    text-shadow: 1px 1px 3px darkslategrey;
    font-size: 10vw;
    font-weight: 700;
    color: #000;
    background: #fff;
    mix-blend-mode: lighten;
}

#title_bg {
    background: url(https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif) center;
    background-size: cover;
}