html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #B3FFF7;
}

body {
    margin: 0;
}

.hero {
    max-width: 100%;
}

#logo {
    width: 70px;
    border-radius: 35px;
    margin: 0 1em;
}

#title {
    margin: 0;
    font-size: 4em;
    font-weight: 700;
    color: #000;
    background-color: #B3FFF7;
    mix-blend-mode: lighten;
}

#title_bg {
    background: url(https://miro.medium.com/max/1400/1*eBZfXMuE72uCDtjUZEzZHQ.gif) center;
    background-size: cover;
}

#hero_container {
    position: relative;
    max-height: 90vh;
    overflow: hidden;
}

#hero_tagline {
    position: absolute;
    margin: 0;
    bottom: 1rem;
    left: 1rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 2em;
}